# EditorConfig is awesome: https://EditorConfig.org

# Root marker for EditorConfig file
root = true

# Apply to all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Python-specific settings
[*.py]
indent_style = space
indent_size = 4

